<div class="footer-container">
  <div class="footer-btns-left">
    <ul>
      <li id="contact" style="cursor: pointer;">Help & Contact</li>
      <li>Invest in Pay 'n Go</li>
    </ul>
  </div>
  <div>
    <p>© Pay 'n Go 2020</p>
  </div>
</div>
