<div class="footer-container">
  <div class="footer-btns-left">
    <ul>
      <li>Help & Contact</li>
      <li>Invest in Pay 'n Go</li>
    </ul>
  </div>
  <div>
    <p>© Pay 'n Go 2020</p>
  </div>
</div>

<div class="contact-us">
  <p>E-mail us here:</p>
  <p>contact@pay-ngo.de</p>
</div>
