<div id="hiw">
  <h1 style="text-align: center; margin-top: 70px; margin-bottom: 12px;padding-top: 120px">How it works?</h1>
</div>
<div class="hiw-container d-flex justify-content-around">
  <div class="hiw-card">
    <div class="first-hiw"></div>
    <p>Download the app from the Appstore or Playstore</p>
  </div>
  <div class="hiw-card">
    <div class="second-hiw"></div>
    <p>Create an account in seconds</p>
  </div>
  <div class="hiw-card">
    <div class="third-hiw"></div>
    <p>Search for cashlless places near you</p>
  </div>
  <div class="hiw-card">
    <div class="fouth-hiw"></div>
    <p>Scan QR code and forget about cash or ATMs</p>
  </div>
</div>
