<div>
  <h1 style="text-align: center; margin-top: 70px; margin-bottom: 70px;">How it works?</h1>
</div>
<div class="hiw-container d-flex justify-content-around">
  <div class="hiw-card">
    <div class="first-hiw"></div>
    <p>Download the app from the Appstore or Playstore</p>
  </div>
  <div class="hiw-card">
    <div class="second-hiw"></div>
    <p>Create an account in seconds</p>
  </div>
  <div class="hiw-card">
    <div class="third-hiw"></div>
    <p>Search for chaslless points near you</p>
  </div>
  <div class="hiw-card">
    <div class="fouth-hiw"></div>
    <p>Start to scan and forget about cash or ATMs</p>
  </div>
</div>
